{
  box-sizing: border-box;
}

html {
background-color: #B6D7A0

}
body {
  color: black;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

header {
  background-color: #B6D7A0;
  padding: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

section {
  display: -webkit-flex;
  display: flex;
  font-size: 15px;
}

.column{
  float: left;
  padding: 10px;

}
.column.middle{
  width: 60%;
}

.column.side{
  width: 25%;
  padding-left: 100px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  background-color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  padding: 20px;

}


aside {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: black;
  text-align: center;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 17px;
  background-color: white;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 22px 20px;
  text-decoration: none;
}

dl {
  color: black;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.5;
  font-size: 15px;
}

dt {
  color: black;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  text-decoration: underline;
  font-size: 15px;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 40px;
  padding-top: 60px;
}

h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
}

h3{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 40px;
}


article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 20px;
  padding-top: 50px;
  color: white;

}

section{
  padding-left: 20px;
    color: white;
}


a:link {
  color: white;
  background-colour: transparent;
  text-decoration: none;
}

a:hover {
  color: green;
  background color: transparent;
  text-decoration: none;
}
